@import url(https://fonts.googleapis.com/css?family=Lexend);


.recipe-list{
display: flex;
flex-direction: row;
justify-content: space-evenly;
font-family: "Lexend";
position: inherit;
font-size: 5px;
width: 700px;
margin: 30px 20px;

}

.recipe-list-title{
  color: #264900;
  position: relative;
 bottom: 30px;
}

.recipe-day-section {
  display: flex;
  flex-direction: column;
  margin-left: -20px;
}
.recipe-day{
  background-color:#F68B32;
  color: antiquewhite;
  text-align: center;
  text-shadow: #264900;
  font-size: 25px;
  margin: -10px 0px;
width: 200px;
height: 50px;
padding-top: 20px;
-webkit-text-stroke-width: 0.5px;
-webkit-text-stroke-color: #264900;

}

.recipe-img{
  width: 150px;
  height: 200px;
  object-fit: cover;
}

 .detail-list{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: -20px 0px -10px 0px;

} 

.recipe-item:hover{
  transform: scale(1.02);
  transition: all 0.5s ease;
 
}

.recipe-item{
  list-style: none;
  display: flex;
  flex-direction: space-evenly;

}

.recipe-name{
  position: relative;
  top:20px;
  color:antiquewhite;
  font-size: 15px;
  background-color: #F68B32;
  width: 150px;
  transition: all .2s ease-in-out; 
 
}

.recipe-description{
  overflow-wrap: break-word;
  width: 150px;
  font-size: 10px;
  text-align: center;
  background-color: #F68B32;
  color: antiquewhite;
  position: relative;
  bottom:12px;
}


@media (max-width: 768px) {
  .weekly-planner {
    flex-direction: column;
  }

  .day-column {
    flex: 1 1 auto;
    width: 100%;
  }
}
