@import url(https://fonts.googleapis.com/css?family=Lexend);

.header {
    background-color: hsl(89, 100%, 14%);
    padding: 15px 15px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.logo img{
    width: 150px;
    height: 150px;
  
    
}

.logo:first-child{
    margin-right: auto;
    margin-left:30px;
}

nav {
    max-width: 1200px;
    margin-left: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: "Lexend";
    padding-left: 20px;
    margin-left: 50px;
    
}

.link {
    color: #F68B32;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover {
    color: #E8F5E9;
}

.logout-button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.logout-btn:hover {
    background-color: white;
    color: #4CAF50;
}


@media (max-width: 600px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 0px;
    
    }
    
    .logo img {
        width: 130%;
        height: 130%;
      
    }

    .logo:first-child {
        margin: -10px auto;
        padding-bottom: 30px;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
        margin-left: 0;
        padding-left: 0;
    }
    
    nav {
        margin-left: 0;
    }

    .logout-button {
        width: 100%;
        text-align: center;
        position: relative;
        right:300%;
    
    
    }
}